        h1 {
            text-align: center;
        }
    body {
        font-family: "Comfortaa";
        background-color: rgb(82, 21, 13);
        background-image: url("./img/1567665.png");
        background-position: center;
    }    
    ul, form, a, p{
        color: rgb(255, 255, 255);
    }
    h2, h1 {
        color: rgb(16, 163, 107);
    }
    .img {
        margin-left: auto;
        margin-right: auto;
    }
    .caja {
        background-color: brown;
        width: 200px;
        height: 200px;
        border-radius: 1rem;
        }
        .bg-img {
            background-image: url("./img/foto\ perfil.jpg");
            background-position: center;
            background-size: cover;
        }
